body {
    background-color: antiquewhite;
    color: black;
    height: 100vh;
}

.container {
    display: flex;
    height: 75%;
}
.sidebar {
    max-width: 100px; /* Adjust sidebar width as needed */
    background-color: white;
    padding: 20px;
    margin: 0;
    flex: 1;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
  }

  header {
    background-color: white;
    padding-bottom: 1px;
    border: 1px solid black;
    margin-bottom: 15px;
    text-align: center;
}


main {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    padding-top: 0;
    flex: 1;
}

button {
    background-color: white;
    color: black;
    margin: 15px;
    width: auto;
    height: auto;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px 30px;
    user-select: none;
}

footer {
    margin: 10px;
    border-top: 1px solid black;
    padding: 10px;
    text-align: center;
}